# Metadatos y configuracion local
.DS_Store
**/.DS_Store
**/.fuse_hidden*
**/.git/
.papelera_sandbox/
.qwen/
.zcode/

# Dependencias, caches y salidas regenerables
**/node_modules/
**/__pycache__/
**/*.pyc
**/.cache/
Onegai 2/.tools_venv/
Onegai 2/StoryCraftr/
Onegai 2/.timeline_images_extracted/
Onegai 2/salidas/
dndWeebCC-master/target/
dndWeebCC-master/build/
MotorGraphico-main/build/
MotorGraphico-main/build-*/
MotorGraphico-main/out/
MotorGraphico-main/**/CMakeFiles/
MotorGraphico-main/**/CMakeCache.txt
MotorGraphico-main/**/*.o
MotorGraphico-main/**/*.d
MotorGraphico-main/**/*.ppm

# Material de terceros y archivos pesados no editados en el vault
Onegai 2/**/INFO/
Onegai 2/**/infologia/*.pdf
Onegai 2/**/infologia/*.epub
Onegai 2/**/*.zip
Onegai 2/**/WEL-Resources/
